@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    z-index: 0;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    line-height: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #000;
}

*:has(h1) {
    font-size: 40px;
}

h1 {
    font-weight: 700;

    /* legacy setting */
    font-size: 40px;

    /* responsive setting */
    font-size: 2vw;
}

*:has(h2) {
    font-size: 36px;
}

h2 {
    font-weight: 700;

    /* legacy setting */
    font-size: 36px;

    /* responsive setting */
    font-size: 1.8vw;
}

*:has(h3) {
    font-size: 28px;
}

h3 {
    font-weight: 700;

    /* legacy setting */
    font-size: 28px;

    /* responsive setting */
    font-size: 1.4vw;
}

*:has(h4) {
    font-size: 20px;
}

h4 {
    font-weight: 700;

    /* legacy setting */
    font-size: 20px;

    /* responsive setting */
    font-size: 1vw;
}

*:has(h5) {
    font-size: 18px;
}

h5 {
    font-weight: 600;

    /* legacy setting */
    font-size: 18px;

    /* responsive setting */
    font-size: .9vw;
}

*:has(h6) {
    font-size: 16px;
}

h6 {
    font-weight: 400;

    /* legacy setting */
    font-size: 16px;

    /* responsive setting */
    font-size: .8vw;
}

*:has(p) {
    font-size: 20px;
}

p {
    font-weight: 600;

    /* legacy setting */
    font-size: 20px;

    /* responsive setting */
    font-size: 1vw;
}

@media only screen and (max-device-width: 970px) {
    h1 {
        /* legacy setting */
        font-size: 40px;
    
        /* responsive setting */
        font-size: 4vw;
    }

    h2 {
        /* legacy setting */
        font-size: 36px;
    
        /* responsive setting */
        font-size: 3.6vw;
    }
    
    h3 {
        /* legacy setting */
        font-size: 28px;
    
        /* responsive setting */
        font-size: 2.8vw;
    }
    
    h4 {
        /* legacy setting */
        font-size: 20px;
    
        /* responsive setting */
        font-size: 2vw;
    }
    
    h5 {
        /* legacy setting */
        font-size: 18px;
    
        /* responsive setting */
        font-size: 1.8vw;
    }
    
    h6 {
        /* legacy setting */
        font-size: 16px;
    
        /* responsive setting */
        font-size: 1.6vw;
    }

    *:has(p) {
        font-size: 16px;
    }
    
    p {
        /* legacy setting */
        font-size: 16px;
    
        /* responsive setting */
        font-size: 1.6vw;
    }
}

@media only screen and (max-device-width: 500px) {
    *:has(h1) {
        font-size: 60px;
    }

    h1 {
        /* legacy setting */
        font-size: 60px;
    
        /* responsive setting */
        font-size: 6vw;
    }

    *:has(h2) {
        font-size: 56px;
    }

    h2 {
        /* legacy setting */
        font-size: 56px;
    
        /* responsive setting */
        font-size: 5.6vw;
    }

    *:has(h3) {
        font-size: 40px;
    }
    
    h3 {
        /* legacy setting */
        font-size: 40px;
    
        /* responsive setting */
        font-size: 4vw;
    }

    *:has(h4) {
        font-size: 32px;
    }
    
    h4 {
        /* legacy setting */
        font-size: 32px;
    
        /* responsive setting */
        font-size: 3.2vw;
    }

    *:has(h5) {
        font-size: 18px;
    }
    
    h5 {
        /* legacy setting */
        font-size: 18px;
    
        /* responsive setting */
        font-size: 1.8vw;
    }

    *:has(h6) {
        font-size: 24px;
    }
    
    h6 {
        /* legacy setting */
        font-size: 24px;
    
        /* responsive setting */
        font-size: 2vw;
    }

    *:has(p) {
        font-size: 30px;
    }
    
    p {
        /* legacy setting */
        font-size: 30px;
    
        /* responsive setting */
        font-size: 3vw;
    }
}

/* navigation bar */

.nav-bar {
    z-index: 100;
    background-color: #FFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    display: grid;
    place-items: center;
    position: fixed;
    width: 100vw;

    /* legacy setting */
    padding: 10px;

    /* responsive setting */
    padding: .5vw;
}

.nav-bar-cont {
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-bar img {
    /* legacy setting */
    height: 80px;

    /* responsive setting */
    height: 4vw;
}

.nav-bar-search {
    display: flex;
    position: absolute;
    right: 0;

    /* legacy setting */
    height: 24px;
    width: 240px;

    /* responsive setting */
    height: 1.2vw;
    width: 12vw;
}

.search-bar-input {
    border-right: none;
    font-weight: 400;
    border: 1px solid #000;
    border-radius: 0;

    /* legacy setting */
    height: 24px;
    width: 200px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;

    /* responsive setting */
    height: 1.3vw;
    width: 10vw;
    padding-left: .2vw;
    padding-right: .2vw;
    font-size: .7vw;
}

.search-bar-input::placeholder {
    position: absolute;

    /* legacy setting */
    top: 4px;

    /* responsive setting */
    top: .2vw;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-submit {
    background-color: #000;
    border: 2px solid #000;
    border-radius: 0;

    /* legacy setting */
    height: 24px;
    width: 24px;

    /* responsive setting */
    height: 1.3vw;
    width: 1.3vw;
}

.nav-bar-links {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.nav-bar-link-cont {
    /* legacy setting */
    height: 35px;
    margin: 0 5px;

    /* responsive setting */
    height: 1.75vw;
    margin: 0 .25vw;
}

.nav-bar-link-cont ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-link-cont a {
    text-decoration: none;
    color: #707070;
    font-weight: 400;

    /* legacy setting */
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 14px;

    /* responsive setting */
    padding: .4vw .5vw;
    border-radius: .3vw;
    font-size: .7vw;
}

.highlighted .selected {
    background-color: #000;
    color: #FFF;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    /* legacy setting */
    border-radius: 0 6px 6px 6px;

    /* responsive setting */
    border-radius: 0 .3vw .3vw .3vw;
}

.submenu ul {
    display: grid;
}

.submenu a {
    border-radius: 0;
}

.nav-bar-link-cont:hover .submenu {
    display: block;
    transition: 300ms;
}

.nav-bar-link-cont:hover .dropdown {
    background-color: #707070;
    color: #FFF;
    border-radius: 6px 6px 0 0;
    transition: 300ms;
}

.nav-bar-link-cont a:hover {
    background-color: #A0A0A0;
    color: #FFF;
    transition: 300ms;
}

.filler {
    /* legacy setting */
    height: 139px;

    /* responsive setting */
    height: 6.95vw;
}

/* navigation bar minimized */

.nav-bar-minimized {
    display: none;
    z-index: 100;
    background-color: #FFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    place-items: center;
    position: fixed;
    width: 100vw;
}

.nav-bar-min-cont {
    width: 100%;
    position: relative;
}

.nav-bar-min-cont button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: 0;
    border: 0;
}

.nav-burger-cont-cont {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}

.nav-burger-cont {
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #FFF;
    overflow: hidden auto;
}

.nav-burger-close-cont {
    position: relative;
}

.nav-burger-close-cont button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: 0;
    border: 0;
}

.nav-burger-menu {
    display: grid;
}

.nav-bar-min-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-search-bar-input {
    border: 2px solid #000;
    border-radius: 0;
}

.min-search-bar-input:focus {
    outline: none;
}

.min-search-bar-submit {
    border: 2px solid #000;
    border-radius: 0;
    background-color: #000;
}

.nav-bar-min-links-cont {
    display: grid;
}

.nav-bar-min-links-cont ul {
    text-align: right;
}

.nav-bar-min-links {
    display: flex;
    float: right;
}

.nav-bar-min-links-cont button {
    background: 0;
    border: 0;
    font-weight: 700;
}

.nav-bar-min-links-cont a {
    text-decoration: none;
    color: #000;
}

.nav-bar-min-dropdown-cont {
    display: none;
}

.nav-bar-min-dropdown {
    display: grid;
}

@media only screen and (max-device-width: 970px) {
    .nav-bar {
        display: none;
    }

    .filler {
        /* legacy setting */
        height: 130px;
    
        /* responsive setting */
        height: 13vw;
    }
    
    .nav-bar-minimized {
        display: grid;

        /* legacy setting */
        padding: 20px;

        /* responsive setting */
        padding: 2vw;
    }

    .nav-bar-min-cont img {
        /* legacy setting */
        width: 200px;
    
        /* responsive setting */
        width: 20vw;
    }

    .nav-bar-min-cont button {
        /* legacy setting */
        font-size: 40px;
        padding: 0 20px;

        /* responsive setting */
        font-size: 4vw;
        padding: 0 2vw;
    }

    .nav-burger-cont {
        width: 45vw;
    }

    .nav-burger-close-cont {
        /* legacy setting */
        height: 130px;

        /* responsive setting */
        height: 13vw;
    }

    .nav-burger-close-cont button {
        /* legacy setting */
        font-size: 40px;
        padding: 0 20px;
        margin-right: 20px;

        /* responsive setting */
        font-size: 4vw;
        padding: 0 2vw;
        margin-right: 2vw;
    }

    .nav-bar-min-search {
        /* legacy setting */
        padding: 0 20px;

        /* responsive setting */
        padding: 0 2vw;
    }

    .min-search-bar-input {
        height: 5vw;
        width: 35vw;

        /* legacy setting */
        font-size: 20px;
        padding: 0 10px;

        /* responsive setting */
        font-size: 2vw;
        padding: 0 1vw;
    }

    .min-search-bar-submit {
        height: 5vw;
        width: 5vw;
    }

    .nav-bar-min-links-cont {
        /* legacy setting */
        padding: 10px 24px;

        /* responsive setting */
        padding: 1vw 2.4vw;
    }

    .nav-bar-min-links-cont ul {
        /* legacy setting */
        padding: 10px 0;

        /* responsive setting */
        padding: 1vw 0;
    }

    .nav-bar-min-links-cont button {
        /* legacy setting */
        font-size: 25px;
        margin-right: 10px;
        width: 25px;

        /* responsive setting */
        font-size: 2.5vw;
        margin-right: 1vw;
        width: 2.5vw;
    }

    .nav-bar-min-links-cont a {
        /* legacy setting */
        font-size: 32px;

        /* responsive setting */
        font-size: 3.2vw;
    }

    .nav-bar-min-dropdown a {
        /* legacy setting */
        font-size: 24px;
        margin-top: 6px;
        margin-bottom: 6px;

        /* responsive setting */
        font-size: 2.4vw;
        margin-top: .6vw;
        margin-bottom: .6vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .nav-bar {
        display: none;
    }

    .filler {
        /* legacy setting */
        height: 130px;
    
        /* responsive setting */
        height: 13vw;
    }
    
    .nav-bar-minimized {
        display: grid;

        /* legacy setting */
        padding: 20px;

        /* responsive setting */
        padding: 2vw;
    }

    .nav-bar-min-cont img {
        /* legacy setting */
        width: 200px;
    
        /* responsive setting */
        width: 20vw;
    }

    .nav-bar-min-cont button {
        /* legacy setting */
        font-size: 60px;
        padding: 0 20px;

        /* responsive setting */
        font-size: 6vw;
        padding: 0 2vw;
    }

    .nav-burger-cont {
        width: 65vw;
    }

    .nav-burger-close-cont {
        /* legacy setting */
        height: 130px;

        /* responsive setting */
        height: 13vw;
    }

    .nav-burger-close-cont button {
        /* legacy setting */
        font-size: 60px;
        padding: 0 20px;
        margin-right: 20px;

        /* responsive setting */
        font-size: 6vw;
        padding: 0 2vw;
        margin-right: 2vw;
    }

    .nav-bar-min-search {
        /* legacy setting */
        padding: 0 20px;

        /* responsive setting */
        padding: 0 2vw;
    }

    .min-search-bar-input {
        height: 8vw;
        width: 50vw;

        /* legacy setting */
        font-size: 30px;
        padding: 0 20px;

        /* responsive setting */
        font-size: 3vw;
        padding: 0 2vw;
    }

    .min-search-bar-submit {
        height: 8vw;
        width: 8vw;
    }

    .nav-bar-min-links-cont {
        /* legacy setting */
        padding: 20px 48px;

        /* responsive setting */
        padding: 2vw 4.8vw;
    }

    .nav-bar-min-links-cont ul {
        /* legacy setting */
        padding: 20px 0;

        /* responsive setting */
        padding: 2vw 0;
    }

    .nav-bar-min-links-cont button {
        /* legacy setting */
        font-size: 50px;
        margin-right: 20px;
        width: 50px;

        /* responsive setting */
        font-size: 5vw;
        margin-right: 2vw;
        width: 5vw;
    }

    .nav-bar-min-links-cont a {
        /* legacy setting */
        font-size: 50px;

        /* responsive setting */
        font-size: 5vw;
    }

    .nav-bar-min-dropdown a {
        /* legacy setting */
        font-size: 4px;
        margin-top: 10px;
        margin-bottom: 10px;

        /* responsive setting */
        font-size: 4vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
}

/* footer */

.footer {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    /* legacy setting */
    padding: 40px;

    /* responsive setting */
    padding: 2vw;
}

.footer-cont {
    width: 60vw;
    display: grid;
    place-items: center;
}

.footer-cont h6 {
    color: #FFF;
    text-align: center;
}

.footer-inner-cont1 {
    width: 100%;
    position: relative;

    /* legacy setting */
    height: 44px;
    margin-bottom: 10px;

    /* responsive setting */
    height: 2.2vw;
    margin-bottom: .5vw;
}

.footer-page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-page-links a {
    color: #FFF;
    text-decoration: none;
    font-weight: 400;

    /* legacy setting */
    font-size: 16px;
    margin-right: 40px;

    /* responsive setting */
    font-size: .8vw;
    margin-right: 2vw;
}

.footer-page-links a:hover {
    color: #888;
    transition: 300ms;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-social-links a {
    display: grid;
    place-items: center;

    /* legacy setting */
    height: 44px;
    width: 44px;
    margin-left: 10px;
    border-radius: 5px;

    /* responsive setting */
    height: 2.2vw;
    width: 2.2vw;
    margin-left: .5vw;
    border-radius: .25vw;
}

.footer-social-links a:hover {
    cursor: pointer;
}

.social-white-bg {
    background-color: #FFF;
}

.social-twitter-bg {
    background-color: #00ACEE;
}

.social-icon-44 img {
    /* legacy setting */
    height: 44px;
    width: 44px;

    /* responsive setting */
    height: 2.2vw;
    width: 2.2vw;
}

.social-icon-32 img {
    /* legacy setting */
    height: 32px;
    width: 32px;

    /* responsive setting */
    height: 1.6vw;
    width: 1.6vw;
}

.footer-inner-cont2 {
    width: 100%;
    position: relative;
    
    /* legacy setting */
    height: 20px;
    margin-bottom: 10px;

    /* responsive setting */
    height: 1vw;
    margin-bottom: .5vw;
}

.footer-address {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-contact-info h6 {
    /* legacy setting */
    margin-left: 20px;

    /* responsive setting */
    margin-left: 1vw;
}

@media only screen and (max-device-width: 970px) {
    .footer-cont {
        width: 80vw;
    }

    .footer-inner-cont1 {
        /* legacy setting */
        height: 44px;
        margin-bottom: 20px;
    
        /* responsive setting */
        height: 4.4vw;
        margin-bottom: 2vw;
    }
    
    .footer-page-links a {
        /* legacy setting */
        font-size: 16px;
        margin-right: 20px;
    
        /* responsive setting */
        font-size: 1.6vw;
        margin-right: 2vw;
    }
    
    .footer-page-links a:hover {
        color: #888;
        transition: 300ms;
    }
    
    .footer-social-links a {
        /* legacy setting */
        height: 44px;
        width: 44px;
        margin-left: 14px;
        border-radius: 5px;
    
        /* responsive setting */
        height: 4.4vw;
        width: 4.4vw;
        margin-left: 1.4vw;
        border-radius: .5vw;
    }
    
    .social-icon-44 img {
        /* legacy setting */
        height: 44px;
        width: 44px;
    
        /* responsive setting */
        height: 4.4vw;
        width: 4.4vw;
    }
    
    .social-icon-32 img {
        /* legacy setting */
        height: 32px;
        width: 32px;
    
        /* responsive setting */
        height: 3.2vw;
        width: 3.2vw;
    }
    
    .footer-inner-cont2 {
        /* legacy setting */
        height: 14px;
        margin-bottom: 20px;
    
        /* responsive setting */
        height: 1.4vw;
        margin-bottom: 2vw;
    }
    
    .footer-contact-info h6 {
        /* legacy setting */
        margin-left: 20px;
    
        /* responsive setting */
        margin-left: 2vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .footer-cont {
        width: 80vw;
    }
    
    .footer-inner-cont1 {
        display: grid;
        position: static;
        height: auto;
    
        /* legacy setting */
        margin-bottom: 40px;
    
        /* responsive setting */
        margin-bottom: 4vw;
    }
    
    .footer-page-links {
        position: static;
        left: unset;
        top: unset;
        transform: translateY(0);

        /* legacy setting */
        margin-bottom: 40px;
    
        /* responsive setting */
        margin-bottom: 4vw;
    }
    
    .footer-page-links a {
        margin: auto;

        /* legacy setting */
        font-size: 28px;
    
        /* responsive setting */
        font-size: 2.8vw;
    }
    
    .footer-social-links {
        position: static;
        right: unset;
        top: unset;
        transform: translateY(0);
    }
    
    .footer-social-links a {
        /* legacy setting */
        height: 88px;
        width: 88px;
        margin: 0 10px;
        border-radius: 10px;
    
        /* responsive setting */
        height: 8.8vw;
        width: 8.8vw;
        margin: 0 1vw;
        border-radius: 1vw;
    }
    
    .social-icon-44 img {
        /* legacy setting */
        height: 88px;
        width: 88px;
    
        /* responsive setting */
        height: 8.8vw;
        width: 8.8vw;
    }
    
    .social-icon-32 img {
        /* legacy setting */
        height: 64px;
        width: 64px;
    
        /* responsive setting */
        height: 6.4vw;
        width: 6.4vw;
    }
    
    .footer-inner-cont2 {
        display: grid;
        place-items: center;
        height: auto;

        /* legacy setting */
        margin-bottom: 40px;
    
        /* responsive setting */
        margin-bottom: 4vw;
    }
    
    .footer-address {
        display: grid;
        place-items: center;
        justify-content: unset;
        align-items: unset;
        position: static;
        left: unset;
        top: unset;
        transform: translateY(0);

        /* legacy setting */
        margin-bottom: 40px;
    
        /* responsive setting */
        margin-bottom: 4vw;
    }
    
    .footer-contact-info {
        display: grid;
        place-items: center;
        justify-content: unset;
        align-items: unset;
        position: static;
        right: unset;
        top: unset;
        transform: translateY(0);
    }

    .footer-cont h6, .footer-address {
        /* legacy setting */
        font-size: 2.2px;
    
        /* responsive setting */
        font-size: 2.2vw;
    }
    
    .footer-contact-info h6 {
        margin-left: 0;
    }
}

/* global css */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-center {
    display: grid;
    place-items: center;
}

.width60vw {
    width: 60vw;
}

.sec {
    background-color: #FFF;

    /* legacy setting */
    padding: 40px;

    /* responsive setting */
    padding: 2vw;
}

.black-bg {
    background-color: #000;
}

.orange-btn {
    background-color: #FF8D24;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    
    /* legacy setting */
    padding: 14px 0;
    border-radius: 10px;
    font-size: 20px;

    /* responsive setting */
    padding: .7vw 0;
    border-radius: .5vw;
    font-size: 1vw;
}

.orange-btn:hover {
    cursor: pointer;
}

.black-btn {
    background-color: #000;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    
    /* legacy setting */
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 20px;

    /* responsive setting */
    padding: .7vw 1vw;
    border-radius: .5vw;
    font-size: 1vw;
}

.black-btn:hover {
    background-color: #A0A0A0;
}

@media only screen and (max-device-width: 970px) {
    .width60vw {
        width: 80vw;
    }
    
    .sec {
        background-color: #FFF;

        /* legacy setting */
        padding: 20px;
    
        /* responsive setting */
        padding: 2vw;
    }

    .black-bg {
        background-color: #000;
    }
    
    .orange-btn {
        /* legacy setting */
        padding: 14px 0;
        border-radius: 5px;
        font-size: 16px;
    
        /* responsive setting */
        padding: 1.4vw 0;
        border-radius: .5vw;
        font-size: 1.6vw;
    }

    .black-btn {
        /* legacy setting */
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
    
        /* responsive setting */
        padding: 1vw 2vw;
        border-radius: .5vw;
        font-size: 1.6vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .sec {
        background-color: #FFF;

        /* legacy setting */
        padding: 40px;
    
        /* responsive setting */
        padding: 5vw;
    }

    .black-bg {
        background-color: #000;
    }
    
    .orange-btn {
        /* legacy setting */
        padding: 26px 0;
        border-radius: 10px;
        font-size: 26px;
    
        /* responsive setting */
        padding: 2.6vw 0;
        border-radius: 1vw;
        font-size: 2.6vw;
    }

    .black-btn {
        width: 100%;
        margin-top: 3%;

        /* legacy setting */
        padding: 20px 0;
        border-radius: 10px;
        font-size: 32px;
    
        /* responsive setting */
        padding: 2vw 0;
        border-radius: 1vw;
        font-size: 3.2vw;
    }
}