.newsletter {
    display: flex;
    justify-content: center;
}

.flex {
    background-color: #eeeeee;
    gap: 50px;
    padding: 30px;
    border-radius: 10px;
    margin: 50px 50px;
    width: 50%;
}

.b-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    gap: 20px;
    width: 80%;
    margin-top: 20px;
    width: fit-content;
}

.blog {
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 5px;
    width: 100%;
}

