@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    z-index: 0;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    line-height: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
}

p {
    font-weight: 700;
    font-size: 20px;
}

/* navigation bar */

.nav-bar {
    z-index: 100;
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: grid;
    place-items: center;
    position: fixed;
    padding: 10px;
    width: 100vw;
}

.nav-bar-cont {
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-bar img {
    height: 80px;
}

.nav-bar form {
    display: flex;
    height: 24px;
    width: 240px;
    position: absolute;
    right: 0;
}

.search-bar-input {
    height: 100%;
    width: 200px;
    padding-left: 4px;
    padding-right: 4px;
    border: 2px solid #000;
    border-right: none;
    font-weight: 400;
    font-size: 14px;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-submit {
    height: 100%;
    width: 24px;
    background-color: #000;
    border: 2px solid #000;
}

.nav-bar-links {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.nav-bar-link-cont {
    height: 35px;
    margin: 0 5px;
}

.nav-bar-link-cont ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-link-cont a {
    padding: 8px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: #707070;
    font-weight: 400;
    font-size: 14px;
}

.highlighted .selected {
    background-color: #000;
    color: #FFF;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #FFF;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.submenu ul {
    display: grid;
}

.submenu a {
    border-radius: 0;
}

.nav-bar-link-cont:hover .submenu {
    display: block;
    transition: 300ms;
}

.nav-bar-link-cont:hover  .dropdown {
    background-color: #707070;
    color: #FFF;
    border-radius: 6px 6px 0 0;
    transition: 300ms;
}

.nav-bar-link-cont a:hover {
    background-color: #A0A0A0;
    color: #FFF;
    transition: 300ms;
}

.filler {
    height: 139px;
}

@media (max-width: 1590px) {
    .filler {
        height: 174px;
    }
}

/* footer */

.footer {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.footer-cont {
    width: 60vw;
    display: grid;
    place-items: center;
}

.footer-cont h4 {
    color: #FFF;
    text-align: center;
}

.footer-inner-cont1 {
    width: 100%;
    height: 44px;
    position: relative;
    margin-bottom: 10px;
}

.footer-page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-page-links a {
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    margin-right: 40px;
}

.footer-page-links a:hover {
    color: #888;
    transition: 300ms;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-social-links a {
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    margin-left: 10px;
    border-radius: 5px;
}

.footer-social-links a:hover {
    cursor: pointer;
}

.social-white-bg {
    background-color: #FFF;
}

.social-twitter-bg {
    background-color: #00ACEE;
}

.social-icon-44 img {
    height: 44px;
    width: 44px;
}

.social-icon-32 img {
    height: 32px;
    width: 32px;
}

.footer-inner-cont2 {
    height: 20px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.footer-address {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-contact-info h4 {
    margin-left: 20px;
}

/* apna conference 2023 global css */

.hori-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verti-center {
    display: grid;
    place-items: center;
}

.width60vw {
    width: 60vw;
}

.con23-sec {
    padding: 40px;
}

.black-bg {
    background-color: #000;
}

.orange-btn {
    padding: 14px 0px;
    border-radius: 10px;
    background-color: #FF8D24;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.orange-btn:hover {
    cursor: pointer;
}

/* apna conference 2023 section 1 */

.con23-sec1 {
    min-height: 30vw;
    padding: 5vw;
    max-height: 732px;
    background-color: #182228;
    position: relative;
    overflow: hidden;
}

.con23-sec1 img {
    z-index: -1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    object-fit: cover;
    opacity: 50%;
    filter: blur(5px);
}

.con23-sec1-cont {
    position: relative;
}

.con23-sec1 h1, .con23-sec1 p {
    color: #FFF;
    text-shadow: 0 4px 4px #000;
}

.con23-sec1 p {
    width: 60%;
    margin-top: 20px;
}

.con23-sec1-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
}

/* apna conference 2023 section 2 */

.keynote-speaker-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.portrait-cont {
    display: grid;
    place-items: center;
    margin-right: 40px;
}

.portrait-image-cont {
    height: 370px;
    width: 280px;
    margin-bottom: 10px;
}

.portrait-image-cont img {
    height: 360px;
    width: 270px;
    box-shadow: 10px 10px 0 #FF8D24;
}

.portrait-name-title-cont {
    width: 100%;
}

.portrait-name-title-cont h2, .portrait-name-title-cont h3 {
    text-align: center;
}

.portrait-name-title-cont h3 {
    color: #222;
}

.description-cont p {
    text-align: justify;
}

/* apna conference 2023 section 3 */

.sec3-list-cont {
    width: 80%;
    margin-bottom: 40px;
}

.con23-sec3-cont li {
    font-weight: 700;
    font-size: 20px;
}

.con23-sec3-cont h1, .con23-sec3-cont p, .con23-sec3-cont li {
    color: #FFF;
    text-align: justify;
}

.con23-sec3-cont p, .con23-sec3-cont ul {
    margin-top: 20px;
}

.con23-sec3-cont h2, .con23-sec3-cont h3 {
    color: #FFF;
}

/* apna conference 2023 section 4 */

.con23-sec4-cont h1 {
    margin-bottom: 20px;
}

.con23-sec4-cont h1, .con23-sec4-cont p {
    text-align: justify;
}

/* apna conference 2023 section 5 */

.con23-sec5-cont h1, .con23-sec5-cont p {
    color: #FFF;
    text-align: justify;
}

.con23-sec5-cont p {
    margin-top: 20px;
}

.sec5-left-cont {
    margin-right: 40px;
}

.sec5-right-cont {
    display: grid;
}

.sec5-right-cont img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.con23-sec5-btn {
    width: 100%;
}

/* carousel */

.con23-carousel-cont {
    width: 60vw;
    height: 30vw;
    position: relative;
    margin: 20px 0;
}

.con23-carousel-cont ul {
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .4);
}

.carousel-button:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, .8);
    transition: 300ms;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}