/* home section 1 */

.home-sec1-cont {
    margin: 4vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-sec1-left-cont {
    width: 40%;
    display: grid;
}

.home-sec1-left-cont h1, .home-sec1-left-cont p {
    /* legacy setting */
    margin-bottom: 20px;
    
    /* responsive setting */
    margin-bottom: 1vw;
}

.home-sec1-left-cont p {
    text-align: justify;
}

.home-sec1-cont img {
    object-fit: cover;
    width: 55%;
    margin-left: 5%;

    /* legacy setting */
    border-radius: 16px;
    
    /* responsive setting */
    border-radius: .8vw;
}

.home-sec1-mobile-img {
    display: none;
}

.home-sec1-learn-more {
    display: flex;
    justify-content: left;
}

@media only screen and (max-device-width: 970px) {
    .home-sec1-cont {
        align-items: unset;
    }

    .home-sec1-cont img {
        /* legacy setting */
        border-radius: 16px;
        
        /* responsive setting */
        border-radius: 1.6vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .home-sec1-cont {
        display: grid;
        justify-content: unset;
        align-items: unset;
        place-items: center;
    }

    .home-sec1-cont img {
        width: 100%;
        margin-left: 0;
        margin-bottom: 5%;

        /* legacy setting */
        border-radius: 32px;
        
        /* responsive setting */
        border-radius: 3.2vw;
    }

    .home-sec1-left-cont {
        width: 100%;
    }

    .home-sec1-img {
        display: none;
    }

    .home-sec1-mobile-img {
        display: block;
    }
}

/* home section 2*/

.home-sec2-cont h2, .home-sec2-cont p {
    color: #FFF;
    text-align: center;
}

.home-sec2-cont h2 {
    /* legacy setting */
    margin-bottom: 20px;
    
    /* responsive setting */
    margin-bottom: 1vw;
}

@media only screen and (max-device-width: 970px) {}

@media only screen and (max-device-width: 500px) {}

/* home section 3 */

.home-sec3-cont h2 {
    text-align: center;

    /* legacy setting */
    margin-bottom: 20px;
    
    /* responsive setting */
    margin-bottom: 1vw;
}

.home-sec3-card-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-sec3-card {
    background-color: #EEE;
    position: relative;

    /* legacy setting */
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    height: 300px;
    width: 370px;
    
    /* responsive setting */
    padding: 1vw;
    margin: .5vw;
    border-radius: 1vw;
    height: 15vw;
    width: 18.5vw;
}

.home-sec3-card div, .home-sec3-card h3, .home-sec3-card p {
    /* legacy setting */
    margin-bottom: 8px;

    /* responsive setting */
    margin-bottom: .4vw;
}

.home-sec3-card p {
    color: rgba(0, 0, 0, .5);
}

.home-sec3-card a {
    position: absolute;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;

    /* legacy setting */
    font-size: 20px;
    bottom: 20px;

    /* responsive setting */
    font-size: 1vw;
    bottom: 1vw;
}

.home-sec3-rectangle {
    width: 30%;

    /* legacy setting */
    height: 12px;

    /* responsive setting */
    height: .6vw;
}

@media only screen and (max-device-width: 970px) {
    .home-sec3-card-cont {
        display: grid;
        justify-content: unset;
        align-items: unset;
        flex-wrap: unset;
        place-items: center;
    }
    
    .home-sec3-card {
        width: 100%;
    
        /* legacy setting */
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        height: 200px;
        
        /* responsive setting */
        padding: 2vw;
        margin: 1vw;
        border-radius: 2vw;
        height: 20vw;
    }

    .home-sec3-card div {
        /* legacy setting */
        margin-bottom: 10px;
    
        /* responsive setting */
        margin-bottom: 1vw;
    }
    
    .home-sec3-card h3, .home-sec3-card p {
        /* legacy setting */
        margin-bottom: 8px;
    
        /* responsive setting */
        margin-bottom: .8vw;
    }
    
    .home-sec3-card a {
        /* legacy setting */
        font-size: 16px;
        bottom: 20px;
    
        /* responsive setting */
        font-size: 1.6vw;
        bottom: 2vw;
    }
    
    .home-sec3-rectangle {
        width: 15%;
    
        /* legacy setting */
        height: 12px;
    
        /* responsive setting */
        height: 1.2vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .home-sec3-card {
        /* legacy setting */
        padding: 30px;
        margin: 20px;
        border-radius: 30px;
        height: 360px;
        
        /* responsive setting */
        padding: 3vw;
        margin: 2vw;
        border-radius: 3vw;
        height: 36vw;
    }

    .home-sec3-card div {
        /* legacy setting */
        margin-bottom: 16px;
    
        /* responsive setting */
        margin-bottom: 1.6vw;
    }
    
    .home-sec3-card a {
        /* legacy setting */
        font-size: 32px;
        bottom: 30px;
    
        /* responsive setting */
        font-size: 3.2vw;
        bottom: 3vw;
    }
    
    .home-sec3-rectangle {
        width: 20%;
    
        /* legacy setting */
        height: 16px;
    
        /* responsive setting */
        height: 1.6vw;
    }
}

/* home section 4 */

.home-sec4-cont h2 {
    text-align: center;

    /* legacy setting */
    margin-bottom: 20px;
    
    /* responsive setting */
    margin-bottom: 1vw;
}

.home-sec4-inner-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-sec4-inner-cont img {
    object-fit: cover;

    /* legacy setting */
    width: 440px;
    height: 320px;
    border-radius: 20px;
    margin-right: 40px;

    /* responsive setting */
    width: 22vw;
    height: 16vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

.home-sec4-right-cont h3, .home-sec4-right-cont p {
    margin-bottom: .5vw;
}

.home-sec4-right-cont p {
    text-align: justify;
}

.home-sec4-learn-more {
    display: flex;
    justify-content: left;
}

@media only screen and (max-device-width: 970px) {
    .home-sec4-inner-cont {
        align-items: unset;
    }

    .home-sec4-inner-cont img {
        height: unset;
    }

    .home-sec4-cont h2 {
        text-align: center;
    
        /* legacy setting */
        margin-bottom: 20px;
        
        /* responsive setting */
        margin-bottom: 1vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .home-sec4-inner-cont {
        display: grid;
        justify-content: unset;
        align-items: unset;
    }
    
    .home-sec4-inner-cont img {
        width: 100%;
        height: 50vw;
        margin-right: 0;
    
        /* legacy setting */
        border-radius: 20px;
        margin-bottom: 40px;
    
        /* responsive setting */
        border-radius: 2vw;
        margin-bottom: 4vw
    }
}

/* home section 5 */

.home-sec5-cont h2 {
    color: #FFF;
}

.home-sec5-cont form {
    display: flex;
    width: 100%;

    /* legacy setting */
    height: 40px;
    margin: 20px 0;

    /* responsive setting */
    height: 2vw;
    margin: 1vw 0;
}

.home-sec5-cont input {
    /* legacy setting */
    font-size: 16px;

    /* responsive setting */
    font-size: .8vw;
}

.home-sec5-cont input[type=text] {
    width: 100%;

    /* legacy setting */
    margin-right: 20px;
    padding: 8px;

    /* responsive setting */
    margin-right: 1vw;
    padding: .4vw;
}

.home-sec5-cont input[type=text]:focus {
    outline: 0;
}

.home-sec5-cont input[type=submit] {
    border: 0;
    background-color: #5A5A5A;
    color: #FFF;

    /* legacy setting */
    width: 100px;
    border-radius: 5px;
    padding: 8px 16px;

    /* responsive setting */
    width: 5vw;
    border-radius: .25vw;
    padding: .4vw .8vw;
}

.home-sec5-cont input[type=submit]:hover {
    background-color: #999;
    cursor: pointer;
}

@media only screen and (max-device-width: 970px) {
    .home-sec5-cont form {
        /* legacy setting */
        height: 40px;
        margin: 20px 0;
    
        /* responsive setting */
        height: 4vw;
        margin: 2vw 0;
    }

    .home-sec5-cont input {
        /* legacy setting */
        font-size: 16px;
    
        /* responsive setting */
        font-size: 1.6vw;
    }
    
    .home-sec5-cont input[type=text] {
        /* legacy setting */
        margin-right: 20px;
        padding: 8px;
    
        /* responsive setting */
        margin-right: 2vw;
        padding: .8vw;
    }
    
    .home-sec5-cont input[type=submit] {
        /* legacy setting */
        width: 100px;
        border-radius: 5px;
        padding: 8px 16px;
    
        /* responsive setting */
        width: 18vw;
        border-radius: .5vw;
        padding: .8vw 1.6vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .home-sec5-cont form {
        display: grid;
        place-items: center;
        height: auto;
    }

    .home-sec5-cont input {
        /* legacy setting */
        font-size: 28px;
    
        /* responsive setting */
        font-size: 2.8vw;
    }
    
    .home-sec5-cont input[type=text] {
        margin-right: 0;

        /* legacy setting */
        padding: 16px;
        margin-bottom: 20px;
    
        /* responsive setting */
        padding: 1.6vw;
        margin-bottom: 2vw;
    }
    
    .home-sec5-cont input[type=submit] {
        width: 100%;

        /* legacy setting */
        border-radius: 10px;
        padding: 16px 16px;
    
        /* responsive setting */
        border-radius: 1vw;
        padding: 1.6vw 1.6vw;
    }
}

/* about apna section 1 */

.about-sec1-cont {
    width: 100%;
    display: flex;
    justify-content: center;

    /* legacy setting */
    margin-top: 40px;

    /* responsive setting */
    margin-top: 2vw;
}

.about-sec1-cont img {
    object-fit: cover;

    /* legacy setting */    
    width: 440px;
    border-radius: 20px;
    margin-right: 40px;

    /* responsive setting */
    width: 22vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

.about-desc-cont {
    display: grid;
    place-items: center;
}

.about-desc-cont h2 {
    /* legacy setting */
    margin-bottom: 10px;
    
    /* responsive setting */
    margin-bottom: .5vw;
}

.about-desc-cont h2, .about-desc-cont p {
    text-align: justify;
}

@media only screen and (max-device-width: 970px) {}

@media only screen and (max-device-width: 500px) {
    .about-sec1-cont {
        width: 100%;
        display: grid;
        justify-content: unset;
        place-items: center;
    
        /* legacy setting */
        margin-top: 20px;
    
        /* responsive setting */
        margin-top: 2vw;
    }

    .about-sec1-cont img {
        object-fit: cover;
        width: 100%;
        margin-right: 0;
    
        /* legacy setting */
        border-radius: 20px;
        margin-bottom: 20px;
    
        /* responsive setting */
        border-radius: 2vw;
        margin-bottom: 2vw;
    }

    .about-desc-cont h2, .about-desc-cont p {
        text-align: justify;
    
        /* legacy setting */
        margin-bottom: 20px;
        
        /* responsive setting */
        margin-bottom: 2vw;
    }
}

/* about apna section 2 */

.about-sec2-desc{
    text-align: justify;
    margin-bottom: 10px;
}

.about-sec2-cont h2 {
    text-align: center;

    /* legacy setting */
    margin-bottom: 20px;
    
    /* responsive setting */
    margin-bottom: 1vw;
}

.about-sec2-card-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-sec2-card {
    background-color: #EEE;
    position: relative;
   
    /* legacy setting */
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    height: 560px;
    width: 380px;
    
    /* responsive setting */
    padding: 1vw;
    margin: .5vw;
    border-radius: 1vw;
    height: 28vw;
    width: 19vw;
}

.about-sec2-card div, .about-sec2-card h3, .about-sec2-card p {
    /* legacy setting */
    margin-bottom: 16px;

    /* responsive setting */
    margin-bottom: .8vw;
}

.about-sec2-card p {
    color: rgba(0, 0, 0, .5);
}

.about-sec2-card a {
    position: absolute;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;

    /* legacy setting */
    font-size: 20px;
    bottom: 20px;

    /* responsive setting */
    font-size: 1vw;
    bottom: 1vw;
}

.about-sec2-rectangle {
    width: 30%;

    /* legacy setting */
    height: 12px;

    /* responsive setting */
    height: .6vw;
}

@media only screen and (max-device-width: 970px) {
    .about-sec2-card {
        /* legacy setting */
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        height: 550px;
        width: 240px;
        
        /* responsive setting */
        padding: 2vw;
        margin: 1vw;
        border-radius: 2vw;
        height: 55vw;
        width: 24vw;
    }

    .about-sec2-card a {
        /* legacy setting */
        font-size: 18px;
        bottom: 20px;
    
        /* responsive setting */
        font-size: 1.8vw;
        bottom: 2vw;
    }
    .about-sec2-rectangle {
        /* legacy setting */
        height: 8px;
    
        /* responsive setting */
        height: .8vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .about-sec2-card-cont {
        display: grid;
        justify-content: unset;
        align-items: unset;
        place-items: center;
    }
    
    .about-sec2-card {
        width: 100%;
        margin: 0;

        /* legacy setting */
        height: 640px;
        padding: 30px;
        margin-top: 20px;
        
        /* responsive setting */
        height: 64vw;
        padding: 3vw;
        margin-top: 2vw;
    }

    .about-sec2-card div, .about-sec2-card h3, .about-sec2-card p {
        /* legacy setting */
        margin-bottom: 16px;
    
        /* responsive setting */
        margin-bottom: 1.6vw;
    }

    .about-sec2-card a {
        /* legacy setting */
        font-size: 30px;
        bottom: 30px;
    
        /* responsive setting */
        font-size: 3vw;
        bottom: 3vw;
    }
    
    .about-sec2-rectangle {
        /* legacy setting */
        height: 16px;
    
        /* responsive setting */
        height: 1.6vw;
    }
}

/* about apna section 3 */

.about-sec3-cont h2 {
    text-align: center;

    /* legacy setting */
    margin-bottom: 20px;
    
    /* responsive setting */
    margin-bottom: 1vw;
}

.about-sec3-cont p {
    text-align: justify;

    /* legacy setting */
    margin-bottom: 20px;
    
    /* responsive setting */
    margin-bottom: 1vw;
}

.about-sec3-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-sec3-buttons a {
    margin: auto;
    
    /* legacy setting */
    font-size: 20px;

    /* responsive setting */
    font-size: 1vw;
}

@media screen and (max-device-width: 970px) {
    .about-sec3-cont h2 {
        /* legacy setting */
        margin-bottom: 20px;
        
        /* responsive setting */
        margin-bottom: 2vw;
    }

    .about-sec3-cont p {
        /* legacy setting */
        margin-bottom: 20px;
        
        /* responsive setting */
        margin-bottom: 2vw;
    }

    .about-sec3-buttons a {
        /* legacy setting */
        font-size: 20px;
        margin: 10px;
    
        /* responsive setting */
        font-size: 2vw;
        margin: 1vw;
    }
}

@media screen and (max-device-width: 500px) {
    .about-sec3-buttons {
        display: grid;
        justify-content: unset;
        align-items: unset;
        place-items: center;
    }

    .about-sec3-buttons a {
        width: 100%;
        margin: 0;

        /* legacy setting */
        font-size: 40px;
        margin-bottom: 20px;
    
        /* responsive setting */
        font-size: 4vw;
        margin-bottom: 2vw;
    }
}

/* apna story header + sections */

.story-sec h1 {
    text-align: center;

    /* legacy setting */
    margin-bottom: 20px;
    
    /* responsive setting */
    margin-bottom: 1vw;
}

.story-sec-card-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.story-sec-card {
    background-color: #EEE;
   
    /* legacy setting */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    
    /* responsive setting */
    padding: 1vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
}

.story-sec-card #Clinicians, .story-sec-card #Researchers, .story-sec-card #Community {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    /* legacy setting */
    top: -159px;

    /*responsive setting */
    top: calc(-6.25vw - 20px);

}

.story-sec-card div, .story-sec-card h2, .story-sec-card h4, .story-sec-card p {
    /* legacy setting */
    margin-bottom: 14px;

    /* responsive setting */
    margin-bottom: .7vw;
}


.story-sec-card h4, .story-sec-card p, .story-sec-card li {
    color: rgba(0, 0, 0, .5);
    text-align: justify;
}

.story-sec-rectangle {
    width: 10%;

    /* legacy setting */
    height: 12px;

    /* responsive setting */
    height: .6vw;
}

.story-sec-card li {
    width: 80%;

    /* legacy setting */
    font-size: 20px;

    /* responsive setting */
    font-size: 1vw;
}

.story-sec-card ul {
    display: grid;
    place-items: center;
    
    /* legacy setting */
    margin-bottom: 20px;

    /* responsive setting */
    margin-bottom: 1vw;
}

@media only screen and (max-device-width: 970px) {
    .story-sec h1 {
        /* legacy setting */
        margin-bottom: 20px;
        
        /* responsive setting */
        margin-bottom: 2vw;
    }
    
    .story-sec-card {
        /* legacy setting */
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        
        /* responsive setting */
        padding: 2vw;
        margin-bottom: 2vw;
        border-radius: 2vw;
    }
    
    .story-sec-card #Clinicians, .story-sec-card #Researchers, .story-sec-card #Community {
        /* legacy setting */
        top: -130px;

        /*responsive setting */
        top: calc(-13vw - 20px);
    }
    
    .story-sec-card div, .story-sec-card h2, .story-sec-card h4, .story-sec-card p {
        /* legacy setting */
        margin-bottom: 14px;
    
        /* responsive setting */
        margin-bottom: 1.4vw;
    }
    
    .story-sec-rectangle {
        width: 20%;
    
        /* legacy setting */
        height: 12px;
    
        /* responsive setting */
        height: 1.2vw;
    }

    .story-sec-card li {
        /* legacy setting */
        font-size: 20px;
    
        /* responsive setting */
        font-size: 2vw;
    }
    
    .story-sec-card ul {
        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .story-sec h1 {
        /* legacy setting */
        margin-bottom: 40px;
        
        /* responsive setting */
        margin-bottom: 4vw;
    }
    
    .story-sec-card {
        /* legacy setting */
        padding: 40px;
        margin-bottom: 40px;
        border-radius: 40px;
        
        /* responsive setting */
        padding: 4vw;
        margin-bottom: 4vw;
        border-radius: 4vw;
    }
    
    .story-sec-card div, .story-sec-card h2, .story-sec-card h4, .story-sec-card p {
        /* legacy setting */
        margin-bottom: 28px;
    
        /* responsive setting */
        margin-bottom: 2.8vw;
    }
    
    .story-sec-rectangle {
        width: 40%;
    
        /* legacy setting */
        height: 24px;
    
        /* responsive setting */
        height: 2.4vw;
    }
}

/* cnri and research institutes section */

.cnri-sec-cont {
    display: grid;
    place-items: center;
}

.cnri-sec-cont h1 {
    /* legacy setting */
    margin-bottom: 20px;

    /* responsive setting */
    margin-bottom: 1vw;
}

.cnri-inner-cont {
    display: flex;
    justify-content: center;
}

.cnri-left-cont {
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.cnri-middle-border {
    border-left: 1px #000 solid;
}

.cnri-right-cont {
    width: 45%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.cnri-left-cont .cnri-read-more, .cnri-right-cont .cnri-read-more {
    margin-top: auto;
}

.cnri-inner-cont img {
    object-fit: contain;
    width: 100%;

    /* legacy setting */
    height: 100px;

    /* responsive setting */
    height: 5vw;
}

.cnri-inner-cont img, .cnri-inner-cont h3, .cnri-inner-cont p, .cnri-inner-cont ul {
    /* legacy setting */
    margin-bottom: 20px;

    /* responsive setting */
    margin-bottom: 1vw;
}

.cnri-inner-cont h3 {
    text-align: center;
}

.cnri-inner-cont p, .cnri-inner-cont li {
    text-align: justify;
}

.cnri-inner-cont ul {
    display: grid;
    place-items: center;
}

.cnri-inner-cont li {
    width: 80%;
    font-weight: 600;

    /* legacy setting */
    font-size: 20px;

    /* responsive setting */
    font-size: 1vw;
}

.cnri-read-more {
    display: flex;
    justify-content: center;
}

.cnri-read-more a:hover {
    cursor: pointer;
}

@media screen and (max-device-width: 970px) {
    .cnri-sec-cont {
        display: grid;
        place-items: center;
    }
    
    .cnri-sec-cont h1 {
        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }
    
    .cnri-inner-cont {
        display: grid;
        justify-content: unset;
        place-items: center;
    }
    
    .cnri-left-cont {
        width: 100%;
        margin-right: 0;

        /* legacy setting */
        margin-bottom: 40px;
    
        /* responsive setting */
        margin-bottom: 4vw;
    }
    
    .cnri-middle-border {
        display: none;
    }
    
    .cnri-right-cont {
        width: 100%;
        margin-left: 0;
    }
    
    .cnri-inner-cont img {
        /* legacy setting */
        height: 100px;
    
        /* responsive setting */
        height: 10vw;
    }
    
    .cnri-inner-cont img, .cnri-inner-cont h3, .cnri-inner-cont p, .cnri-inner-cont ul {
        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }
    
    .cnri-inner-cont li {
        width: 90%;
    
        /* legacy setting */
        font-size: 16px;
    
        /* responsive setting */
        font-size: 1.6vw;
    }
}

@media screen and (max-device-width: 500px) {
    .cnri-inner-cont img {
        /* legacy setting */
        height: 200px;
    
        /* responsive setting */
        height: 20vw;
    }

    .cnri-inner-cont li {
        width: 80%;

        /* legacy setting */
        font-size: 30px;
    
        /* responsive setting */
        font-size: 3vw;
    }
}

/* visitor info section 1 */

.visitor-info-sec1-cont {
    display: flex;
    justify-content: center;
}

.visitor-info-sec1-cont img {
    width: 35%;
    object-fit: cover;

    /* legacy setting */
    border-radius: 20px;
    margin-right: 40px;

    /* responsive setting */
    border-radius: 1vw;
    margin-right: 2vw;
}

.visitor-info-sec1-right-cont {
    display: grid;
    place-items: center;
}

.visitor-info-sec1-right-cont h1 {
    /* legacy setting */
    margin-bottom: 20px;

    /* responsive setting */
    margin-bottom: 1vw;
}

.visitor-info-sec1-right-cont p {
    text-align: justify;
}

@media screen and (max-device-width: 970px) {}

@media screen and (max-device-width: 500px) {
    .visitor-info-sec1-cont {
        display: grid;
        justify-content: unset;
        place-items: center;
    }

    .visitor-info-sec1-cont img {
        width: 100%;
        margin-right: 0;

        /* legacy setting */
        border-radius: 20px;
        margin-bottom: 20px;

        /* responsive setting */
        border-radius: 2vw;
        margin-bottom: 2vw;
    }

    .visitor-info-sec1-right-cont h1 {
        /* legacy setting */
        margin-bottom: 20px;

        /* responsive setting */
        margin-bottom: 2vw;
    }
}

/* visitor info section 2 */

.visitor-info-sec2-cont {
    display: grid;
    place-items: center;
}

.visitor-info-sec2-cont h2 {
    width: 100%;
}

.visitor-info-sec2-cont p {
    text-align: justify;
}

.visitor-info-sec2-cont h2, .visitor-info-sec2-cont p {
    /* legacy setting */
    margin-bottom: 20px;

    /* responsive setting */
    margin-bottom: 1vw;
}

@media screen and (max-device-width: 970px) {
    .visitor-info-sec2-cont h2, .visitor-info-sec2-cont p {
        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }
}

@media screen and (max-device-width: 500px) {
    .visitor-info-sec2-cont h2, .visitor-info-sec2-cont p {
        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }
}

/* apna conference 2023 section 1 */

.con23-sec1 {
    min-height: 30vw;
    padding: 5vw;
    max-height: 732px;
    background-color: #182228;
    position: relative;
    overflow: hidden;
}

.con23-sec1 img {
    z-index: -1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    object-fit: cover;
    opacity: 50%;
    filter: blur(5px);
}

.con23-sec1-cont {
    position: relative;
}

.con23-sec1 h1, .con23-sec1 h3, .con23-sec1 h4, .con23-sec1 p {
    color: #FFF;
    text-shadow: 0 2px 6px #000;
}

.con23-sec1 h3, .con23-sec1 h4, .con23-sec1 p {
    width: 60%;
    
    /* legacy setting */
    margin-top: 20px;

    /* responsive setting */
    margin-top: 1vw;
}

.con23-sec1-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
}

@media only screen and (max-device-width: 970px) {
    .con23-sec1 h3, .con23-sec1 h4, .con23-sec1 p {
        /* legacy setting */
        margin-top: 20px;
    
        /* responsive setting */
        margin-top: 2vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .con23-sec1 {
        min-height: none;
        max-height: none;
    }
    
    .con23-sec1 img {
        height: 140%;
    }
    
    .con23-sec1 h3, .con23-sec1 p {
        text-align: justify;
    }
    
    .con23-sec1 h3, .con23-sec1 h4, .con23-sec1 p {
        width: 100%;

        /* legacy setting */
        margin-top: 40px;
    
        /* responsive setting */
        margin-top: 4vw;
    }
    
    .con23-sec1-btn {
        position: static;
        width: 100%;
        
        /* legacy setting */
        margin-top: 40px;
    
        /* responsive setting */
        margin-top: 4vw;
    }
}

/* apna conference 2023 section 2 */

.keynote-speaker-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    
    /* legacy setting */
    padding-top: 20px;

    /* responsive setting */
    padding-top: 1vw;
}

.portrait-cont {
    display: grid;
    place-items: center;
    
    /* legacy setting */
    margin-right: 40px;

    /* responsive setting */
    margin-right: 2vw;
}

.portrait-image-cont {
    /* legacy setting */
    height: 370px;
    width: 280px;
    margin-bottom: 10px;

    /* responsive setting */
    height: 18.5vw;
    width: 14vw;
    margin-bottom: .5vw;
}

.portrait-image-cont img {
    /* legacy setting */
    height: 360px;
    width: 270px;
    box-shadow: 10px 10px 0 #FF8D24;

    /* responsive setting */
    height: 18vw;
    width: 13.5vw;
    box-shadow: .5vw .5vw 0 #FF8D24;
}

.too-bright {
    border: 1px black solid;
}

.portrait-name-title-cont {
    width: 100%;
}

.portrait-name-title-cont h4, .portrait-name-title-cont h5 {
    text-align: center;
}

.portrait-name-title-cont h5 {
    color: #222;
}

.description-cont h4 {
    /* legacy setting */
    margin-bottom: 20px;

    /* responsive setting */
    margin-bottom: 1vw;
}

.description-cont p {
    text-align: justify;
}

@media only screen and (max-device-width: 970px) {
    .keynote-speaker-cont {
        /* legacy setting */
        padding-top: 20px;
    
        /* responsive setting */
        padding-top: 2vw;
    }
    
    .portrait-cont {
        /* legacy setting */
        margin-right: 40px;
    
        /* responsive setting */
        margin-right: 4vw;
    }
    
    .portrait-image-cont {
        /* legacy setting */
        height: 185px;
        width: 140px;
        margin-bottom: 10px;
    
        /* responsive setting */
        height: 18.5vw;
        width: 14vw;
        margin-bottom: 1vw;
    }
    
    .portrait-image-cont img {
        /* legacy setting */
        height: 180px;
        width: 135px;
        box-shadow: 5px 5px 0 #FF8D24;
    
        /* responsive setting */
        height: 18vw;
        width: 13.5vw;
        box-shadow: .5vw .5vw 0 #FF8D24;
    }

    .description-cont h4 {
        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .keynote-speaker-cont {
        display: grid;
        justify-content: unset;
        place-content: center;
        
        /* legacy setting */
        padding-top: 20px;
        padding-bottom: 20px;
    
        /* responsive setting */
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    
    .portrait-cont {
        display: grid;
        place-items: center;
        margin-right: 0;
    }
    
    .portrait-image-cont {
        /* legacy setting */
        height: 330px;
        width: 250px;
        margin-bottom: 20px;
    
        /* responsive setting */
        height: 41vw;
        width: 31vw;
        margin-bottom: 2vw;
    }
    
    .portrait-image-cont img {
        /* legacy setting */
        height: 320px;
        width: 240px;
        box-shadow: 10px 10px 0 #FF8D24;
    
        /* responsive setting */
        height: 40vw;
        width: 30vw;
        box-shadow: 1vw 1vw 0 #FF8D24;
    }
    
    .description-cont {
        /* legacy setting */
        margin-top: 20px;

        /* responsive setting */
        margin-top: 2vw
    }

    .description-cont h4 {
        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }
}

/* apna conference 2023 section 2.5 */

.con23-sec2_5-cont h2 {
    /* legacy setting */
    margin-bottom: 20px;

    /* responsive setting */
    margin-bottom: 1vw;
}

.con23-sec2_5-cont h2, .con23-sec2_5-cont p {
    color: #FFF;
    text-align: center;
}

@media only screen and (max-device-width: 970px) {
    .con23-sec2_5-cont h2 {
        /* legacy setting */
        margin-bottom: 10px;

        /* responsive setting */
        margin-bottom: 1vw;
    }
}

@media only screen and (max-device-width: 500px) {}

/* apna conference 2023 section 3 */

.con23-sec3-list-cont {
    width: 80%;

    /* legacy setting */
    margin-bottom: 40px;

    /* responsive setting */
    margin-bottom: 2vw;
}

.con23-sec3-cont li {
    font-weight: 600;

    /* legacy setting */
    font-size: 20px;

    /* responsive setting */
    font-size: 1vw;
}

.con23-sec3-cont p, .con23-sec3-cont li {
    text-align: justify;
}

.con23-sec3-cont h3, .con23-sec3-cont p, .con23-sec3-cont ul {
    /* legacy setting */
    margin-top: 20px;

    /* responsive setting */
    margin-top: 1vw;
}

@media only screen and (max-device-width: 970px) {
    .con23-sec3-list-cont {
        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }
    
    .con23-sec3-cont li {
        /* legacy setting */
        font-size: 16px;
    
        /* responsive setting */
        font-size: 1.6vw;
    }
    
    .con23-sec3-cont p, .con23-sec3-cont ul {
        /* legacy setting */
        margin-top: 10px;
    
        /* responsive setting */
        margin-top: 1vw;
    }

    .con23-sec3-cont .keynote-speaker-cont {
        padding: 0;
    }
}

@media only screen and (max-device-width: 500px) {
    .con23-sec3-list-cont {
        width: 90%;

        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }
    
    .con23-sec3-cont li {
        /* legacy setting */
        font-size: 26px;
    
        /* responsive setting */
        font-size: 2.6vw;
    }
    
    .con23-sec3-cont p {
        /* legacy setting */
        margin-top: 20px;
    
        /* responsive setting */
        margin-top: 2vw;
    }
    .con23-sec3-cont ul {
        /* legacy setting */
        margin-top: 40px;
    
        /* responsive setting */
        margin-top: 4vw;
    }

    .con23-sec3-cont .keynote-speaker-cont {
        /* legacy setting */
        margin-top: 20px;
    
        /* responsive setting */
        margin-top: 2vw;
    }
    
    .con23-sec3-cont .keynote-speaker-cont ul {
        margin: 0;
    }
}

/* apna conference 2023 section 4 */

.con23-sec4-cont h2 {
    /* legacy setting */
    margin-bottom: 20px;

    /* responsive setting */
    margin-bottom: 1vw;
}

.con23-sec4-cont p {
    text-align: justify;
}

.con23-sec4-cont h2, .con23-sec4-cont p {
    color: #FFF;
}

@media only screen and (max-device-width: 970px) {
    .con23-sec4-cont h2 {
        /* legacy setting */
        margin-bottom: 10px;

        /* responsive setting */
        margin-bottom: 1vw;
    }
}

@media only screen and (max-device-width: 500px) {}

/* apna conference 2023 section 5 */

.con23-sec5-inner-cont {
    width: 100%;
    position: relative;
    /* display: flex;
    justify-content: center; */

    /* legacy setting */
    margin-top: 20px;

    /* responsive setting */
    margin-top: 1vw;
}

.con23-sec5-left-cont {
    /* legacy setting */
    /* margin-right: 40px; */

    /* responsive setting */
    /* margin-right: 2vw; */
}

.con23-sec5-left-cont p {
    text-align: justify;
}

.con23-sec5-right-cont {
    position: absolute;
    bottom: 0;
    right: 0;
}

.con23-sec5-right-cont img {
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
    /* legacy setting */
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;

    /* responsive setting */
    width: 10vw;
    border-radius: .5vw;
    margin-bottom: .5vw;
}

.con23-sec5-btn {
    /* legacy setting */
    width: 200px;

    /* responsive setting */
    width: 10vw;
}

@media only screen and (max-device-width: 970px) {
    .con23-sec5-inner-cont {
        /* legacy setting */
        margin-top: 10px;
    
        /* responsive setting */
        margin-top: 1vw;
    }
    
    .con23-sec5-left-cont {
        /* legacy setting */
        /* margin-right: 20px; */
    
        /* responsive setting */
        /* margin-right: 2vw;*/
    }
    
    .con23-sec5-left-cont p {
        /* legacy setting */
        /* margin-bottom: 16px; */
    
        /* responsive setting */
        /* margin-bottom: 1.6vw; */
    }

    .con23-sec5-btn {
        /* legacy setting */
        width: 200px;
    
        /* responsive setting */
        width: 20vw;
    }
    
    .con23-sec5-right-cont img {
        /* legacy setting */
        width: 200px;
        border-radius: 10px;
        margin-bottom: 10px;
    
        /* responsive setting */
        width: 16vw;
        border-radius: 1vw;
        margin-bottom: 1vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .con23-sec5-inner-cont {
        display: grid;
        justify-content: unset;
        place-content: center;
    
        /* legacy setting */
        margin-top: 40px;
    
        /* responsive setting */
        margin-top: 4vw;
    }
    
    .con23-sec5-left-cont {
        margin-right: 0;
    }
    
    .con23-sec5-left-cont p {
        /* legacy setting */
        margin-bottom: 20px;
    
        /* responsive setting */
        margin-bottom: 2vw;
    }

    .con23-sec5-right-cont {
        display: grid;
        place-items: center;
        position: unset;
        bottom: unset;
        right: unset;
    }
    
    .con23-sec5-right-cont img {
        /* legacy setting */
        width: 400px;
        border-radius: 10px;
        margin: 20px 0;
    
        /* responsive setting */
        width: 40vw;
        border-radius: 1vw;
        margin: 2vw 0;
    }

    .con23-sec5-btn {
        width: 100%;

        /* legacy setting */
        font-size: 32px;
    
        /* responsive setting */
        font-size: 3.2vw;
    }
}

/* carousel */

.con23-carousel-cont {
    width: 60vw;
    height: 30vw;
    position: relative;
    
    /* legacy setting */
    margin: 20px 0;

    /* responsive setting */
    margin: 1vw 0;
}

.con23-carousel-cont ul {
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide img {
    display: block;
    width: 100%;
    height: 30vw;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .4);
}

.carousel-button:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, .8);
    transition: 300ms;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

@media only screen and (max-device-width: 970px) {
    .con23-carousel-cont {
        width: 80vw;
        height: 40vw;
    }

    .slide img {
        height: 40vw;
    }

    .carousel-button {
        color: rgba(255, 255, 255, .8);
        background-color: rgba(0, 0, 0, .6);
        transition: 0;
    }

    .carousel-button:hover {
        color: rgba(255, 255, 255, .8);
        background-color: rgba(0, 0, 0, .6);
        transition: 0;
    }
}

@media only screen and (max-device-width: 500px) {
    .con23-carousel-cont {
        height: 50vw;
    }

    .slide img {
        height: 50vw;
    }
}

/* Membership View */

.membership-sec1 h2 {
    text-align: center;
    margin-bottom: 35px;
    
    /* Responsive Edit */
    margin-bottom: 2vw;
}

.membership-sec1-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    margin-bottom: 2.5vw;
}

.membership-sec1-cont img {
    object-fit: cover;
    width: 440px;
    height: 320px;
    border-radius: 20px;
    margin-right: 40px;

    /* Responsive Edit */
    width: 22vw;
    height: 16vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

.membership-sec1-desc h3 {
    margin-bottom: 25;
    
    /* Responsive Edit */
    margin-bottom: 1.4vw;

}

.membership-sec1-desc p {
    text-align: justify;
    margin-bottom: 25px;

    /* Responsive Edit */
    margin-bottom: 1.4vw;

}

.membership-sec1-apply-now {
    display: flex;
    justify-content: left;
}


/* Membership Fee */


.membershipfee-sec-desc{
    text-align: justify;
    margin-bottom: 10px;

    /* Responsive Edit */
    margin-bottom: 1vw;
}

.membershipfee-sec-cont h2 {
    text-align: center;
    margin-bottom: 20px;
    
    /* Responsive Edit */
    margin-bottom: 1vw;
}

.membershipfee-sec-card-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.membershipfee-sec-card {
    background-color: #EEE;
    position: relative;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    height: 580px;
    width: 345px;
    
    /* Responsive Edit */
    height: 32vw;
    width: 18vw;
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
}

.membershipfee-sec-card img {
    object-fit: cover;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    margin-right: 40px;
    margin-bottom: 10px;

    /* Responsive Edit */
    width: 15.9vw;
    height: 12vw;
    border-radius: 1vw;
    margin-right: 2vw;
    margin-bottom: 0.7vw;

}

.membershipfee-sec-card div, .membershipfee-sec-card h3{
    text-align: center;
    margin-bottom: 16px;

    /* Responsive Edit */
    margin-bottom: .8vw;
}

.membershipfee-sec-card p {
    text-align: center;
    color: rgba(0, 0, 0, .5);
}


.membershipfee-sec-card a {
    justify-content: center;
    position: absolute;
    font-size: 20px;
    height: 40px;
    margin-left: 100px;

    /* Responsive Edit */
    font-size: 0.8vw;
    bottom: 1vw;
    height: 2vw;
    margin-left: 5vw;
}

.membershipfee-sec-rectangle {
    width: 30%;
    height: 12px;

    /* Responsive Edit */
    height: .6vw;
}


/* Membership Application */

.membershipapp-sec h2 {
    text-align: center;
    margin-bottom: 20px;
    
    /* Responsive Edit */
    margin-bottom: 1vw;
}


.membershipapp-sec1-cont1 {
    display: flex;
}

.membershipapp-sec1-input label, .membershipapp-sec1-input input [type="text"]{
    display: block;
}
